

// @media @screen_large {
//     @container-width: 940px;
//     //width: @tablet-area;
//   }



// .container {
//     width: @container-width;
//     background: #faf;
// }

// .header:hover {
//     background: red;
// }

// .header:active {
//     background: green;
// }

html {
    font-family: 'FiraSans-Regular', Helvetica, sans-serif;
    font-size: 10px;
    height: 100%;
}

body {
    font-size: 1.6rem;
    height: 100%;
}

.wrapper {
    display: table;
    height: 100%;
    width: 100%;
}

.top {
    display: table-row;
      height: 100%;
}


.clear-fix:before, .clear-fix:after {
    content: "";
    display: table;
}

.clear-fix:after {
    clear: both;
}

.container {
    margin: 0 auto;
    max-width: 940px;
    width: 940px;
}

.container::after, .container::before {
    content: '';
    display: table;
}

.container::after {
    clear: both;
}

.left-half, .right-half {
    width: 50%;
}

.left-half {
   float: left;
}

.right-half {
    float: right;
    text-align: right;
}






.content {
    background: rgb(246, 246, 246) /*url('./img/bg/geometry2.png') repeat*/;
    padding-top: 25px;
    padding-bottom: 50px;
    min-width: 960px;
    
    display: table-row;
    height: 100%;
}

.content-padding {
    padding: 20px 0;
}

.main-content {
    //float: right;
    max-width: 600px;
    
}

.left-sidebar {
    width: 220px;
    float: left;
    margin-right: 55px;
}

.menu {
    text-align: right;
}

.menu__item {
    
   
}

.menu__item__link {
    display: inline-block;
    width: 100%;
    
    text-decoration: none;
    font-size: 18px;
    font-family: FiraSans-Regular;
    line-height: 45px;
    padding-right: 30px;
    
    //line-height: 28px;
    //color: rgb(51, 193, 227);
    color: #414141;
}

.menu__icon {
    letter-spacing: 4px;
}

.menu__item__link:hover {
    color: #33c1e3;
    
}

.menu__item__link:active {
    color: #1121ee;
   
}
   

.menu__item__link__active {
    color: #33c1e3;
    font-family: 'firaSans-medium';
    
   -webkit-box-shadow: inset -5px 0px 0px 0px #33c1e3;
    -moz-box-shadow: inset -5px 0px 0px 0px #33c1e3;
    box-shadow: inset -5px 0px 0px 0px #33c1e3;
}

.main-content__big-photo {
    float: left;
}

.main-content__big-photo_img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 5px solid #fff;
    margin-right: 55px;
    object-fit: cover;
}

.main-content__article {
    float: right;
    width: 388px;
    
    
}

.main-content__article_text {
    height: 300px;
    overflow: auto;
}

.main-content__article_title {
    font-family: 'firaSans-medium';
    font-size: 35px;
    color: #414141;
    line-height: 38px;
    margin-bottom: 16px;
    font-weight: normal;
}

.main-content__article_text {
    color: #646464;
    font-size: 18px;
    line-height: 26px;
}

.main-content_main-text__p {
    
}

.download-btn {
    padding: 9px 12px;
    border: 2px solid #e85f61;
    color: #e85f61;
    text-decoration: none;
    font-size: 14px;
    font-family: 'FiraSans-Bold';
    display: inline-block;
    border-radius: 40px;
    cursor: pointer;
    background-color: transparent;
    float: right;
    margin-top: 40px;
}

.download-btn:hover {
    color: #fff;
    background: #e85f61;
}

.download-btn__icon {
    margin-right: 5px;
}

.download-btn__text {
    font-size: 14px;
}











