

// @media @screen_large {
//     @container-width: 940px;
//     //width: @tablet-area;
//   }



// .container {
//     width: @container-width;
//     background: #faf;
// }

// .header:hover {
//     background: red;
// }

// .header:active {
//     background: green;
// }

.container {
    margin: 0 auto;
    min-width: 940px;
    width: 940px;
}

.container::after, .container::before {
    content: '';
    display: table;
}

.container::after {
    clear: both;
}

.left-half, .right-half {
    width: 50%;
}

.left-half {
   float: left;
}

.right-half {
    float: right;
    text-align: right;
}

.header {
    padding: 8px 0;
    background: #fef;
}

.content {
    background: rgb(246, 246, 246);
}



img {
    vertical-align: middle;
}

.header_container_left__avatar {
    border-radius: 50%;
    width: 60px;
    height: 60px; 
    object-fit: cover;
    border: 1px solid #bebebe;

}

.soc__link {
    display: inline-block;
    width: 31px; //7px separate
    height: 30px;
    
}

.soc__link_fb {
    background: url(img/icons/socials-buttons-2.png) 0 0;
    transition: all .5s;
}

.soc__link_vk {
    background: url(img/icons/socials-buttons-2.png) -38px 0;
    transition: all .5s;
}

.soc__link_tw {
    background: url(img/icons/socials-buttons-2.png) -76px 0;
    transition: all .5s;
}

.soc__link_fb:hover {
    background: url(img/icons/socials-buttons-2.png) 0 30px;
    transition: all .5s;
}

.soc__link_vk:hover {
    background: url(img/icons/socials-buttons-2.png) -38px 30px;
    transition: all .5s;
}

.soc__link_tw:hover {
    background: url(img/icons/socials-buttons-2.png) -76px 30px;
    transition: all .5s;
}








