/* 1. reset/mixins ======================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: 0;
  background: transparent;
  text-decoration: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*:focus {
  outline: 0;
}
img {
  vertical-align: middle;
}
/*END reset*/
/* 2. variables/mixins ======================== */
@media only screen and (min-width: 1220px) {
}
@media only screen and (min-width: 960px) {
}
/* 3. common styles ======================== */
/* font-family: "MyriadProRegular"; */
@font-face {
  font-family: "MyriadProRegular";
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "MyriadProBold"; */
@font-face {
  font-family: "MyriadProBold";
  src: url("../fonts/MyriadProBold/MyriadProBold.eot");
  src: url("../fonts/MyriadProBold/MyriadProBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProBold/MyriadProBold.woff") format("woff"), url("../fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "MyriadProItalic"; */
@font-face {
  font-family: "MyriadProItalic";
  src: url("../fonts/MyriadProItalic/MyriadProItalic.eot");
  src: url("../fonts/MyriadProItalic/MyriadProItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProItalic/MyriadProItalic.woff") format("woff"), url("../fonts/MyriadProItalic/MyriadProItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "MyriadProSemiBold"; */
@font-face {
  font-family: "MyriadProSemiBold";
  src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot");
  src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"), url("../fonts/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "MyriadProBoldItalic"; */
@font-face {
  font-family: "MyriadProBoldItalic";
  src: url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot");
  src: url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.woff") format("woff"), url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "MyriadProSemiBoldItalic"; */
@font-face {
  font-family: "MyriadProSemiBoldItalic";
  src: url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot");
  src: url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.woff") format("woff"), url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "FiraSans-Regular"; */
@font-face {
  font-family: "FiraSans-Regular";
  src: url("../../vendor/fonts/firasans/FiraSans-Regular.ttf") format("truetype");
  /*src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");*/
  font-style: normal;
  font-weight: normal;
}
/*font-family: "firaSans-medium";*/
@font-face {
  font-family: "FiraSans-Medium";
  src: url("../../vendor/fonts/firasans/FiraSans-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/*font-family: "firaSans-Bold";*/
@font-face {
  font-family: "FiraSans-Bold";
  src: url("../../vendor/fonts/firasans/FiraSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/*font-family: "firaSans-Light";*/
@font-face {
  font-family: "FiraSans-Light";
  src: url("../../vendor/fonts/firasans/FiraSans-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* 4. common styles ======================== */
html {
  font-family: 'FiraSans-Regular', Helvetica, sans-serif;
  font-size: 10px;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}
body {
  font-size: 1.6rem;
  height: 100%;
}
.wrapper {
  display: table;
  height: 100%;
  width: 100%;
}
.top {
  display: table-row;
  height: 100%;
}
.clear-fix:before,
.clear-fix:after {
  content: "";
  display: table;
}
.clear-fix:after {
  clear: both;
}
.container {
  margin: 0 auto;
  max-width: 940px;
  width: 940px;
}
.container::after,
.container::before {
  content: '';
  display: table;
}
.container::after {
  clear: both;
}
.left-half,
.right-half {
  width: 50%;
}
.left-half {
  float: left;
}
.right-half {
  float: right;
  text-align: right;
}
.content {
  background: #f6f6f6 /*url('./img/bg/geometry2.png') repeat*/;
  padding-top: 25px;
  padding-bottom: 50px;
  min-width: 960px;
  display: table-row;
  height: 100%;
}
.content-padding {
  padding: 20px 0;
}
.main-content {
  max-width: 600px;
}
.left-sidebar {
  width: 220px;
  float: left;
  margin-right: 20px;
}
.menu {
  text-align: right;
}
.menu__item__link {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  font-size: 18px;
  font-family: FiraSans-Regular;
  line-height: 45px;
  padding-right: 30px;
  color: #414141;
}
.menu__icon {
  letter-spacing: 4px;
}
.menu__item__link:hover {
  color: #33c1e3;
}
.menu__item__link:active {
  color: #1121ee;
}
.menu__item__link.active {
  color: #33c1e3;
  font-family: 'firaSans-medium';
  -webkit-box-shadow: inset -5px 0px 0px 0px #33c1e3;
  -moz-box-shadow: inset -5px 0px 0px 0px #33c1e3;
  box-shadow: inset -5px 0px 0px 0px #33c1e3;
}
.main-content__big-photo {
  float: left;
}
.main-content__big-photo_img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  border: 5px solid #fff;
  margin-right: 55px;
  object-fit: cover;
}
.main-content__article {
  float: right;
  width: 388px;
}
.main-content__article_text {
  height: 300px;
  overflow: auto;
}
.main-content__article_title {
  font-family: 'firaSans-medium';
  font-size: 35px;
  color: #414141;
  line-height: 38px;
  margin-bottom: 16px;
  font-weight: normal;
}
.main-content__article_text {
  color: #646464;
  font-size: 18px;
  line-height: 26px;
}
.download-btn {
  padding: 9px 12px;
  border: 2px solid #e85f61;
  color: #e85f61;
  text-decoration: none;
  font-size: 14px;
  font-family: 'FiraSans-Bold';
  display: inline-block;
  border-radius: 40px;
  cursor: pointer;
  background-color: transparent;
  float: right;
  margin-top: 40px;
}
.download-btn:hover {
  color: #fff;
  background: #e85f61;
}
.download-btn__icon {
  margin-right: 5px;
}
.download-btn__text {
  font-size: 14px;
}
/*5 header ===============================*/
.header {
  position: relative;
  min-width: 960px;
  padding: 8px 0;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}
.header_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header_container_left__avatar {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: cover;
  border: 1px solid #bebebe;
}
.header_container_left__name {
  font-size: 18px;
  margin-left: 15px;
  vertical-align: middle;
}
.header_container_right__link {
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  color: #33c1e3;
  padding-bottom: 5px;
  font-weight: bold;
  background: url(img/bg/dotted-border.png) -3px bottom repeat-x;
}
/*6 footer*/
.footer {
  min-width: 960px;
  background: #414141;
  padding: 1.6rem 0;
}
.footer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-item {
  align-self: center;
  width: 50%;
}
.footer-right {
  text-align: right;
}
.soc__link {
  display: inline-block;
  width: 31px;
  height: 30px;
  text-indent: 100%;
  overflow: hidden;
}
.soc__link_fb {
  background: url(img/icons/socials-buttons-2.png) -6px -5px;
  transition: all .5s;
}
.soc__link_vk {
  background: url(img/icons/socials-buttons-2.png) -44px -5px;
  transition: all .5s;
}
.soc__link_tw {
  background: url(img/icons/socials-buttons-2.png) -82px -5px;
  transition: all .5s;
}
.soc__link_fb:hover {
  background: url(img/icons/socials-buttons-2.png) -6px 35px;
  transition: all .5s;
}
.soc__link_vk:hover {
  background: url(img/icons/socials-buttons-2.png) -44px 35px;
  transition: all .5s;
}
.soc__link_tw:hover {
  background: url(img/icons/socials-buttons-2.png) -82px 35px;
  transition: all .5s;
}
/*7 pages =================================*/
.about-photo {
  margin-left: 35px;
}
.career-main-photo {
  width: 220px;
  height: 220px;
  overflow: hidden;
}
.career-main-photo__img {
  width: 220px;
  height: 220px;
  border-radius: 6px;
  object-fit: cover;
}
.milestones__item {
  position: relative;
  margin-bottom: 10px;
}
.milestones__year {
  position: absolute;
  right: 101%;
  top: 50%;
  display: inline-block;
  max-width: 100px;
}
.milestones__year:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background: #33c1e3;
  border: 5px solid #f6f6f6;
  border-radius: 50%;
  position: absolute;
  right: -25px;
  top: 50%;
  z-index: 1;
  margin-top: -10px;
}
.milestones__description {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-left: 30px;
  width: 100%;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}
.milestones__description:after,
.milestones__description:before {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  background: #dddddd;
  left: -20px;
}
.milestones__description:after {
  bottom: -22px;
  top: 50%;
}
.milestones__description:before {
  top: 0;
  bottom: 50%;
}
.milestones__description__title {
  color: #5a5a5a;
  font: 2.1rem/1.24 FiraSans-Regular;
}
.milestones__description__position,
.milestones__description__period {
  color: #727272;
  font: 1.8rem/1.44 FiraSans-Light;
}
.milestones__item:first-child .milestones__description:before {
  display: none;
}
.milestones__item:last-child .milestones__description:after {
  display: none;
}
.milestones__description.active {
  background: #33c1e3;
}
