
.wrapper_auth {
    min-width: 320px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/web/core/assets/img/bg/geometry2.png');
    perspective: 500px;
}

.wrapper_auth::before {
    content: "";
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
}

.auth:hover {
    animation: home 0.5s forwards;
	perspective:160px;
}

@keyframes home{
	50%{perspective: 150px; transform: rotateX(2deg);}
	100%{perspective: 140px;transform: rotateX(5deg);}
}


.auth {
    width: 300px;
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
    -webkit-animation: auth-move;
    -o-animation: auth-move;
    animation-name: auth-move;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}




@keyframes auth-move {
   
    0% {
        transform:rotate(-45deg);
        margin-left: -1500px;
    }
    80% {
        transform: rotate(-45deg);
         
    }
    90% {
        margin-left: 0px;
        transform: perspective(900px);
        transform: scale3d(1.1, 1.1, 1.1);
        
    }
    
    95% {
        transform: scale3d(.9, 0.9, 0.9);
    }
    
    100% {
        transform: rotate(0deg);
        transform: scale3d(1, 1, 1); 
    }
   
}

// @keyframes auth-move {
//   from, 20%, 40%, 60%, 80%, to {
//     animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
//   0% {
//     opacity: 0;
//     transform: scale3d(0.3, 0.3, 0.3); }
//   20% {
//     transform: scale3d(1.1, 1.1, 1.1); }
//   40% {
//     transform: scale3d(0.9, 0.9, 0.9); }
//   60% {
//     opacity: 1;
//     transform: scale3d(1.03, 1.03, 1.03); }
//   80% {
//     transform: scale3d(0.97, 0.97, 0.97); }
//   to {
//     opacity: 1;
//     transform: scale3d(1, 1, 1); } }



.auth__top {
    position: relative;
    border-radius: 7px 7px 0 0;
    background: #fff;
    padding: 80px 60px 20px 60px;
    font-size: 21px;
    position: relative;
    margin-top: 70px;
    font-size: 21px;
}

.auth__photo {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
    
    position: absolute;
    top: -70px;
    left: 50%;
    margin-left: -70px;
    
    
    
}

.auth__photo__img {
    width: 100%;
    height: auto;
}

.auth__name {
    text-align: center;
    line-height: 1.42;
}

.auth__bottom {
    background: #33c1e3;
    padding: 20px 0;
    border-radius: 0 0 7px 7px;
    text-align: center;
}

.auth-btn {
    border-color: #f6f6f6;
    color: #f6f6f6;
    
    
    &:hover {
        background: #f6f6f6;
        color: #33c1e3;
    }
}




