.header {
    position: relative;
    min-width: 960px;
    padding: 8px 0;
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
}

.header_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header_container_left {
    width: 50%;
}

.header_container_right {
    text-align: right;
    width: 50%;
}

.header_container_left__avatar {
    border-radius: 50%;
    width: 60px; 
    height: 60px; 
    object-fit: cover;
    border: 1px solid #bebebe;
}

.header_container_left__name {
    font-size: 18px;
    margin-left: 15px;
    vertical-align: middle;
}


.header_container_right__link {
    text-decoration: none;
    font-size: 18px;
    line-height: 28px;
    color: #33c1e3;
    padding-bottom: 5px;

    font-weight: bold;
    background: url(img/bg/dotted-border.png) -3px bottom repeat-x;
}